.nav-links a {
  color: #fff;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  align-items: flex-end;
  color: #fff;
  background-color: rgba(176, 228, 225, 1);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 44px;
  user-select: none;
}
.menu {
  display: flex;

  gap: 1em;
  font-size: 18px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.menu a {
  color: #5f5757;
}

.menu a:hover {
  color: rgba(168, 177, 187, 0.774);
  border-radius: 5px;
  transition: 0.3s ease;
}

.invis {
  display: none;
}

@media (max-width: 768px) {
  .invis {
    display: none;
    position: absolute;
    height: 240px;
  }
  .menu {
    display: none;
    position: absolute;
    background-color: rgb(205, 240, 238);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    z-index: 2;
  }
  .menu li:hover {
    display: block;
    position: relative;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  .menu li {
    padding: 5px 14px;
  }
  input[type="checkbox"]:checked ~ .invis {
    display: block;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}
.flex-container {
  display: flex;
  padding: 10%;
  justify-content: center;
  flex-direction: row;
}

.flex-child {
  flex: 1;
  border: 2px solid black;
  background-color: rgba(134, 184, 206, 0.24);
  border-radius: 25px;
  padding: 10%;
}

.flex-child:first-child {
  margin-right: 20px;
}
.flex-child {
  text-align: center;
}

h2 {
  padding: 0px;
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 0;
}
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-child:first-child {
    margin-right: 0px;
  }
}
.round {
  width: 100%;
  border-radius: 15px;
  border: 1px #000 solid;
  padding: 5px 5px 5px 25px;
}
h2 {
  text-align: center;
  font-family: stalemate;
  font-weight: 300;

  font-style: normal;
}
.search-wrapper {
  position: relative;
}
.search-pic {
  position: absolute;
  top: 3px;
  right: -17px;
  width: 20px;
}

.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 12px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.events {
  background-color: rgb(212, 235, 221);
  text-align: center;
  font-family: stalemate;
  font-weight: 40;

  font-style: normal;
}

/* Position the image container (needed to position the left and right arrows) */
.slideshow {
  position: relative;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 30;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  height: fit-content;
}
.slideshow {
  display: flex;
}
.prev,
.next {
  position: relative;
  top: 150px;
}
.all-events {
  padding: 25px;
}
.events-prev {
  margin-right: 8px;
}
.events-button {
  padding: 5px;
  background-color: white;
  display: relative;
}
.all-events a {
  margin-right: 10px;
}
.all-events a {
  margin-left: 10px;
}
.agegroup-down {
  display: flex;
  margin-left: 10px;
  padding: 3px;
  background-color: white;
  justify-content: right;
}
.event-description a {
  position: absolute;
  top: 0px;
}

.flex-container-two {
  display: flex;
  padding: 0%;
}
.flex-container-three {
  display: flex;
  padding: 0%;
}
.flex-child-again {
  flex: 1;
  margin-top: 5%;
  margin-right: 5%;
  padding: 0%;
}

.flex-child-one {
  padding: 20px;
}
.slideshow img {
  filter: drop-shadow(16px 16px 10px black);
}
.footer {
  background-color: #eeebebcc;
}
.socials {
  padding: 3%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.links {
  display: flex;
  justify-content: space-evenly;
  font-family: stalemate;
  padding-bottom: 5%;
  font-weight: 20;
  color: #6965657e;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
/* Pinterest */
.fa-pinterest {
  background: #e60023;
  color: white;
}
.fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}
.fa-tumblr {
  background: #34526f;
  color: white;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 17px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.time {
  font-family: stalemate;
  font-size: large;
}
h3 {
  font-family: stalemate;
  font-size: medium;
}
